.cep {
  max-width: 800px;
  width: 80%;
  margin: auto;
}

.cef {
  background-color: aliceblue;
  width: 100%;
}

.cef * {
  font-size: 1.1rem;
}

.cef h2 {
  margin: 0px;
  font-size: 2rem;
}

.cef .err {
  color: maroon;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: inherit;
}

.cef p {
  margin: 0px;
  font-size: 1.5rem;
}

.cef p:not(:first-of-type) {
  margin-top: 1rem;
}

.cef section {
  text-align: left;
  width: 100%;
}

.cef section:not(:last-of-type) {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.cef textarea,
.cef input {
  margin-right: 1rem;
  display: block;
  margin: 0.5rem 0px;
  padding: 0.5rem;
}

.cef input {
  width: 300px;
}

.cef textarea {
  width: 500px;
}

.cef button {
  text-align: center;
  margin: auto;
}

.price-input {
  text-align: right;
  width: 100px !important;
}

.price-input::before {
  content: "$";
}

.cef label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.cef input[type="text"] {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
}

.cef .error {
  color: maroon;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}
