.evn_crd {
  --image-size: 175px;
  display: grid;
  grid-template-areas:
    "image header"
    "image about"
    "image footer";
    grid-template-columns: var(--image-size) 1fr;
    gap: 0rem 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #898989;
    cursor: pointer;
}

.evn_crd:not(:last-of-type) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.evn_crd * {
  text-align: left;
  margin: 0px;
}

.evn_crd_image {
  /* width: var(--image-size); */
  grid-area: image;
}

.evn_crd_image > img {
  width: 100%;
  height: 100%;
}

.evn_crd_header {
  grid-area: header;
}
.evn_crd_date {
  margin-bottom: 0.5rem;
}

.evn_crd_title {
  margin-bottom: 0.5rem;
}

.evn_crd_location {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.evnt-description {
  grid-area: about;
  color: #898989
}

.evn_crd_footer {
  grid-area: footer;
  display: flex;
  gap: 0.5rem;
}
