.no-space {
  letter-spacing: -0.2rem;
}

.nlp-wrapper {
  font-size: 1rem;
  margin: 1rem 20%;
}

.nlp-wrapper > * {
  margin-bottom: 1rem;
}

.nlp-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.nlp-intro__text > * {
  text-align: left;
}

.nlp-intro__title {
  font-size: 50px;
}

.nlp-intro__image {
  height: 380px;
  width: 450px;
  border-radius: 10%;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.nlp-about {
  text-align: center;
  margin-bottom: 30px;
}

.nlp-about > h2 {
  margin: 1rem;
  font-size: 2rem;
}

.nlp-about > p {
  margin: 0 31%;
}

.nlp-nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.nlp-nav-card {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nlp-nav-card__title {
  text-align: center;
  font-size: 1.5rem;
  color: teal;
  border-radius: 30%;
  margin: 20px 0
}

.nlp-nav-card__about{
  text-align: center;
  margin: 0;
}
.nlp-disabled-link {
  pointer-events: none;
  color: grey;
}

.nlp-nav-card__title:hover {
  text-decoration: 2px solid underline;
  cursor: pointer;
}

.nlp-nav-card__image {
  width: 150px;
  max-width: 150px;
  height: 150px;
  max-height: 150px;
  border-radius: 30%;
  background-color: whitesmoke;
}

.nlp-join {
  text-align: center;
}
