.Exp-Nav {
  margin-top: 1rem;
}

.ExploreNavigation_Header {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  padding: 0.6rem 1.5rem;
}

.ExploreNavigation_Header:hover {
  border-bottom: 2px solid #f65858;
}

.ExploreNavigation_Li {
  display: flex;
  font-size: 1rem;
  margin: 1rem 18.5%;
}

.ExploreNavigation_Li > * {
  margin-bottom: 1rem;
}


.under-text {
  display: flex;
  font-size: 1rem;
  margin: 1rem 20%;
  color: gray;
  border-bottom: 1px gray;
}

