/* TODO Add site wide styles */
* {
  font-family: "Gloock", serif;
  font-weight: 200;
}


#modal-content {
  overflow: hidden;
  border-radius: 0.5rem;
}


button {
  padding: 0.6rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
}
