ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid;
  border-top: 10px;
}

li {
  margin: 0 10px;
}

NavLink {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

NavLink.active {
  color: #ff5722;
}
