.mNav {
  margin: 0px;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.mNav * {
  margin: 0px;
}

.nav-logo a {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  font-family: "Gloock";
  color: #f65858;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.mNav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mNav button {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.session-li {
  display: flex;
  background-color: white;
  position: relative;
  gap: 1rem;
}

.logEmIn {

}

.signEmUp{
  
}
.profile-button {
  width: 4rem;
  align-self: end;
  border-radius: 40px;
  color: white;
  background-color: #00798A

}

.profile-dropdown {
  background-color: beige;
  border: 1px solid black;
  position: absolute;
  top: 100%;
  right: 0%;
}

/* CSS class for the buttons with the specified color */
.custom-button {
  background-color: #f65858;
  color: white;
  border-radius: 20%;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
}

.hidden {
  display: none;
}
