.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  margin-top: 1px;
  margin-bottom: 10px;
  text-align: center;
}

.form {
  width: 300px;
  margin: auto;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.input {
  width: 100%;
  padding: 0.6rem;
  border: 2px solid black;
  font-size: 1rem;
}

.error-message {
  color: rgb(255, 0, 0);
  font-size: 1rem;
  text-align: center;
}

.button {
  width: 100%;
}

.button {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background-color: #e32359;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #230000;
}

.button:active {
  background-color: #230000;
}
